<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" title="Send email" href="mailto:erik@erikohrn.com"><i class="icon far fa-envelope"></i></a>
        <a aria-label="My LinkedIn" title="My LinkedIn" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}/"><i class="icon fab fa-linkedin-in" aria-hidden="true"></i></a>
        <a aria-label="My Github" title="My Github" target="_blank" href="https://github.com/{{site.github_username}}" ><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Flickr portfolio" title="My Flickr Portfolio" target="_blank" href="{{site.flickr_portfolio}}"><i class="icon fab fa-flickr" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About me</a>
        <a class="link" href="#software" data-scroll>Software</a>
        <a class="link" href="#photography" data-scroll>Photography</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
