
<div class="user-details">
    <h1>Software</h1>
    B.Sc. in Applied Information Technology, ongoing M.Sc in Interaction Design and Technologies. In addition to my studies I've worked in the growing startup scene of Gothenburg, which has provided several insights in the world of modern software development.
</div>
<div class="software">
    <div class="tech">
        <h2>Frontend</h2>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-vuejs-plain colored"></i>
        <p>Professional experience in front-end languages as well as frameworks such as Vue.</p>
    </div>
    <div class="tech">
        <h2>Backend</h2>
        <i class="devicon-java-plain colored"></i>
        <i class="devicon-ruby-plain colored"></i>
        <i class="devicon-mysql-plain colored"></i>
        <p>Proficiency in Java development and knowledge of Ruby on Rails, MySQL and more.</p>
    </div>
    <div class="tech">
        <h2>User experience</h2>
        <i class="devicon-photoshop-plain colored"></i>
        <i class="devicon-illustrator-plain colored"></i>
        <i class="devicon-d3js-plain colored"></i>
        <p>Ongoing education in user experience design, with the ability to convert design to code.</p>
    </div>
</div>
